.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(206, 192, 148);
}
.container{
    margin-bottom: 100px;
}
.h1-colors{
    color: #3f031a;
    font-family: 'Lobster', cursive;
}
.buy-now-bt{
    background-color: #ff136f;
    color: aliceblue;
    border-radius: 7px; 
    border: none; 
    padding: 5px 15px;  
}
.price{
    color: #ff136f;
}
.carousel-item{
    padding: 20px 40px;
}
li{
    font-family: 'Satisfy', cursive;
    color: rgb(44, 43, 40);
}
p{
    font-family: 'Cookie', cursive;
    font-size: 30px;
}
.categories-wa{
    background-color: #9489b4;
    border-radius: 10px;
}
.categories-ba{
    background-color: rgb(180, 147, 115);
}
.categories-sh{
    background-color: rgb(175, 108, 130);
}
.categories-wa, .categories-ba, .categories-sh{
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(67, 56, 71);
}
.categorise h1{
    color: #feeae9;
}
.categories img{
    width: 100px;
}
h4{
    color: #3f031a;
    font-family: 'Lobster', cursive;    
}
.card{
    border: none;
    box-shadow: 10px 10px 20px rgb(105, 104, 103);
}
#subscribe{
    height: 350px;
}
#subscribe h6{
    color: gray;
}
#subscribe h3{
    font-family: 'Lobster', cursive; 
    color: orange;       
}
footer{
    text-align: center;
}